<!DOCTYPE HTML>
<html>
<head>
<title>我的主页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- bootstrap -->
<link href="__css__/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
<!-- //bootstrap -->
<link href="__css__/dashboard.css" rel="stylesheet">
<!-- Custom Theme files -->
<link href="__css__/style-1.css" rel='stylesheet' type='text/css' media="all" />
<link rel="stylesheet" href="__Js__/layui/css/layui.css" media="all">
<link href="__css__/base.css" rel='stylesheet'  media="all" />
<link href="__css__/base-1.css" rel='stylesheet'  media="all" />
<link href="__css__/personal.css" rel='stylesheet'  media="all" />
<script src="__js__/jquery-1.11.1.min.js"></script>

<!--start-smoth-scrolling-->
<!-- fonts -->

<!-- //fonts -->
</head>
  <body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/index.html"><h1><img src="__img__/logo.png" alt="" /></h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<div class="top-search">
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="请搜索">
					<input type="submit" value=" ">
				</form>
			</div>
			<div class="header-top-right">
				<div class="file">
					<a href="/home/index/upload.html">投稿</a>
				</div>	
				
				
				<div class="clearfix"> </div>
			</div>
        </div>
		<div class="clearfix"> </div>
      </div>
    </nav>
	
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="top-navigation">
				<div class="t-menu"></div>
				<div class="t-img">
					<img src="__img__/lines.png" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
				<div class="drop-navigation drop-navigation">
				  <ul class="nav nav-sidebar">
					<li><a href="/home/index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>主页</a></li>
					<li><a href="/home/concern.html" class="user-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>关注</a></li>										
					<li><a href="/home/collect/collect.html" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>收藏</a></li>
					<li><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>分类<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
						<ul class="cl-effect-2">
							<li><a href="/home/index/movies.html">搞笑</a></li>                                             
							<li><a href="/home/index/movies.html">奇幻</a></li>
							<li><a href="/home/index/movies.html">古风</a></li>
							<li><a href="/home/index/movies.html">恋爱</a></li> 
							<li><a href="/home/index/movies.html">校园</a></li>                                             
							<li><a href="/home/index/movies.html">治愈</a></li>
							<li><a href="/home/index/movies.html">推理</a></li>
							<li><a href="/home/index/movies.html">完结</a></li> 
						</ul>-->
						<!-- script-for-menu -->
					<!--	<script>
							$( "li a.menu1" ).click(function() {
							$( "ul.cl-effect-2" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
					
					
					<li><a href="/home/index/sports.html" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>排行榜</a></li>
					
					
				  </ul>-->
				  <!-- script-for-menu -->
				<!--		<script>
							$( ".top-navigation" ).click(function() {
							$( ".drop-navigation" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
					<div class="side-bottom">
						<div class="side-bottom-icons">
							<ul class="nav2">
								<li><a href="#" class="facebook"> </a></li>
								<li><a href="#" class="facebook twitter"> </a></li>
								<li><a href="#" class="facebook chrome"> </a></li>
								<li><a href="#" class="facebook dribbble"> </a></li>
							</ul>
						</div>
						
					</div>
				</div>
        </div>-->
    <div id="space-body" class="visitor">
        <div class="s-space"> 
            <div class="wrapper clearfix" id="page-index"> 
                <div class="col-1">  
                    <div class="section video full-rows empty"> 
                        <h3 class="section-title"> <a class="t" href="#!/video">TA的稿件</a> <span class="count">0</span> </h3> 
                        <div class="content clearfix">  </div> 
                    </div>
                    <div class="section fav"> 
                        <h3 class="section-title"> 
                            <a class="t" href="#!/favlist">TA的收藏夹</a> 
                            <span class="count">1</span> 
                            <a class="more" href="#!/favlist">更多</a> 
                            <span class="private-hint" style="display: none;">
                               <span class="icon"></span> 
                               <span>仅自己可见</span> 
                            </span> 
                        </h3> 
                        <div class="content clearfix"> 
                            <div class="fav-item" data-count="3"> 
                                <a class="fav-covers" href="#!/favlist?fid=9710535">   
                                    <div class="fav-cover fav-cover-0" style="background-image: url(&quot;//i1.hdslb.com/bfs/archive/35217b96fcd742138c8747b3d054c2f39c737724.jpg@152w_95h_75Q_1c_2e.webp&quot;);"></div> 
                                    <div class="fav-cover fav-cover-1" style="background-image: url(&quot;//i0.hdslb.com/bfs/archive/17b83a61adb6b681a8cfcb31e27b4689cd507626.jpg@118w_74h_75Q_1c_2e.webp&quot;);"></div> 
                                    <div class="fav-cover fav-cover-2" style="background-image: url(&quot;//i1.hdslb.com/bfs/archive/1473efb5838caca3472becbed0e33bac91bc5962.jpg@118w_74h_75Q_1c_2e.webp&quot;);"></div> 
                                </a> 
                                <span class="fav-count">10</span> 
                                <div class="m">  
                                    <a class="name" title="默认收藏夹" href="#!/favlist?fid=9710535&amp;fname=%E9%BB%98%E8%AE%A4%E6%94%B6%E8%97%8F%E5%A4%B9">默认收藏夹</a> 
                                </div> 
                            </div> 
                        </div> 
                    </div>
                    <div class="section bangumi"> 
                        <h3 class="section-title"> 
                            <a class="t" href="#!/bangumi">订阅番剧</a> 
                            <span class="count">5</span> 
                            <a class="more" href="#!/bangumi">更多</a> 
                            <span class="private-hint" style="display: none;">
                                <span class="icon"></span> 
                                <span>仅自己可见</span> 
                            </span> 
                        </h3> 
                        <div class="content clearfix"> 
                            <div class="large-item clearfix">
                                 <a target="_blank" class="cover" href="//www.bilibili.com/bangumi/i/5852"> <img src="//i0.hdslb.com/bfs/bangumi/958cffa5054239ae9695469708949de0caaeabe4.jpg@110w_144h_75Q_1c_2e.webp" alt="全职高手"> </a> 
                                 <div class="detail"> 
                                     <a target="_blank" class="title" href="//www.bilibili.com/bangumi/i/5852" title="全职高手"> 全职高手  </a> 
                                     <p class="desc" title="【支付10B币购买整季，《全职高手》第一季可每周提前看一集】根据蝴蝶蓝同名电子游戏竞技小说改编，一个...">【支付10B币购买整季，《全职高手》第一季可每周提前看一集】根据蝴蝶蓝同名电子游戏竞技小说改编，一个...</p> 
                                     <p class="faved">我和他都在看</p> 
                                 </div> 
                            </div>
                        </div> 
                    </div>
                    <div class="section subs empty"> 
                        <h3 class="section-title"> 
                            <a class="t" href="#!/subs">订阅标签</a> 
                            <span class="count">0</span>  
                            <span class="private-hint" style="display: none;"> 
                                <span class="icon"></span> 
                                <span>仅自己可见</span> 
                            </span> 
                        </h3> 
                        <div class="content clearfix">  </div>
                    </div>
                    <div class="section coin empty"> 
                        <h3 class="section-title" title="30天内投过硬币的视频"> 最近投币的视频<span class="count">0</span> <span class="private-hint" style="display: none;"> <span class="icon"></span> <span>仅自己可见</span> </span> </h3>
                         <div class="content clearfix">  </div> 
                    </div>
                    <div class="section qz empty"> 
                        <h3 class="section-title"> <a class="t" href="#!/qz-index">TA的圈子</a> <span class="count">0</span>  <span class="private-hint" style="display: none;"> <span class="icon"></span> <span>仅自己可见</span> </span> </h3> 
                        <div class="content clearfix">  </div> 
                    </div> 
               </div> 
               <div class="col-2"> 
                    <div class="section i-m" style="display: none;"> 
                        <div class="i-m-r1">
                             <span class="icon i-m-icon"></span>
                              <a href="http://member.bilibili.com/v/?from=bilibili#!/home" class="i-m-title" target="_blank">创作中心<span class="icon i-m-ra"></span></a> 
                         </div> 
                         <div class="i-m-r2 clearfix"> 
                             <a href="http://member.bilibili.com/v/video/submit.html" class="i-m-btn i-m-upload" target="_blank"> <span class="i-m-u-icon icon"></span> <span class="i-m-text">视频投稿</span> </a> 
                             <a href="http://member.bilibili.com/v/#!/article" class="i-m-btn i-m-v" target="_blank"> <span class="i-m-v-icon icon"></span> <span class="i-m-text">投稿管理</span> </a> 
                        </div>
                    </div> 
                    <div class="section elec" style="display: none;"> 
                        <div class="elec-action"> 
                            <div class="elec-trigger"><span class="elec-trigger-icon icon"></span>为TA充电</div> 
                            <div class="elec-map"> 
                                <div class="elec-status">共<span class="elec-count">0</span>人</div>
                                 <div class="elec-status-bg"></div> 
                                 <div class="elec-status-bg-grey"></div> 
                            </div> 
                            <div id="elec-hover-bg-preloader"></div> 
                        </div>  
                    </div>
                    <div class="section i-ann empty"> 
                        <h3 class="section-title">公告</h3>
                        <div class="content">
                             <div class="i-ann-content" id="i-ann-display"></div>  
                        </div> 
                    </div>
                    <div class="section i-live loading"> 
                        <h3 class="section-title">直播间</h3> 
                        <div class="content"> 
                            <div class="i-live-fo clearfix"> <span class="i-live-fo-btn">关注直播间</span>  <span class="i-live-fo-count space-fans">0</span> </div>
                            <div class="i-live-off i-live-off-guest"> 
                                <div class="i-live-unfod"> 
                                    <p>主播不在，关注后就能在动态收到开播的通知哦~</p> 
                                    <a target="_blank" href="">前往TA的直播间<span class="r-arrow icon i-live-arrow"></span></a> 
                                </div> 
                             </div> 
                        </div> 
                    </div>
                    <div class="section user"> 
                        <div class="section-title" style="display: none;"> 
                            <div class="private-hint"> 
                                <span class="icon"></span> 
                                <span>仅自己可见</span> 
                            </div> 
                        </div> 
                        <div class="info"> 
                            <div class="content"> 
                                <div class="meta">  
                                    <div class="row"> 
                                        <div class="item uid"> 
                                            <span class="icon"></span> 
                                            <span class="text">8955572</span> 
                                         </div> 
                                         <div class="item regtime"> 
                                             <span class="icon"></span>
                                              <span class="text">注册于 2015-3-23</span>
                                         </div> 
                                    </div> 
                                    <div class="row"> 
                                         <div class="item birthday"> 
                                            <span class="icon"></span> 
                                            <span class="text">07-29</span>  
                                         </div> 
                                         <div class="item geo"> 
                                            <span class="icon"></span> 
                                            <span class="text">未填写</span>  
                                         </div> 
                                    </div>
                                </div> 
                            </div> 
                        </div> 
                    </div>
                    <div class="i-tg"> 
                        <div class="content i-tg-stage"> 
                            <div class="swiper-container swiper-container-horizontal swiper-container-autoheight" style="cursor: -webkit-grab;">  
                                <div class="swiper-wrapper" style="width: 700px; height: 175px; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                    <div class="swiper-slide swiper-slide-active" style="width: 350px;">   
                                         <a target="_blank" class="i-tg-tab" href="http://www.bilibili.com/blackboard/activity-Mindblowing2017.html"> <img class="i-tg-img" src="//i0.hdslb.com/bfs/space/42401a068c2d6d4b254b7c53348fc8929ad4d8e9.jpg"> <p class="i-tg-text">一起来脑洞一下！</p></a> 
                                    </div>
                                    <div class="swiper-slide swiper-slide-next" style="width: 350px;">    
                                        <a target="_blank" class="i-tg-tab" href="http://www.bilibili.com/blackboard/activity-BDF-relay.html"> <img class="i-tg-img" src="//i0.hdslb.com/bfs/space/e138569049093b9114f988d198b5e299975a5389.jpg"> <p class="i-tg-text">2017BDF启动，全民宅舞ing</p> </a>

                                    </div> 
                                </div> 
	                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" slot="pagination">
	                               <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
	                               <span class="swiper-pagination-bullet"></span>
	                            </div>    
                            </div> 
                        </div> 
                    </div>
                    <div class="section game empty"> 
                    <h3 class="section-title">最近玩过的游戏</h3> 
                    <div class="content">  </div> 
                    </div> 
                </div> 
            </div>
        </div> 
    </div>
    <div class="clearfix"> </div>
	<div class="drop-menu">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
		  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
		</ul>
	</div>
	 </body>
</html>