<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查收查引</title>
    
    <link rel="stylesheet" type="text/css" href="__COMMON__/webuploader/css/webuploader.css" />
    <link rel="stylesheet" type="text/css" href="__COMMON__/webuploader/style.css" />

    <link href="/public/static/admin/checkbox/bootstrap.css" rel="stylesheet">
    <!-- <link href="/public/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet"> -->
    <!-- <link href="/public/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet"> -->
    <link href="/public/static/admin/css/font-awesome.css?v=4.7.0" rel="stylesheet">
    <link href="/public/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/public/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/public/static/admin/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/public/static/admin/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="/public/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="/public/static/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/public/static/admin/checkbox/build.css" rel="stylesheet">
    <style type="text/css">
    .long-tr th{
        text-align: center
    }
    .long-td td{
        text-align: center
    }
    </style>
    
    
</head>